.custom-tabs .nav-item {
    margin: 0 60px; /* Adds spacing between tabs */
}

.nav-tabs {
    margin: 20px 0; /* Adds space around the tabs for centering */
}

.nav-tabs .nav-link {
    padding: 10px 20px; /* Increases the clickable area of each tab */
    border-radius: 5px;
    border: 1px solid #ddd;
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: white;
}

.client-info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds space between items */
    margin: 20px 0; /* Adds spacing around the container */
}

.client-info-item {
    flex: 1 1 calc(33.333% - 20px); /* Three items per row */
    box-sizing: border-box;
    padding: 10px;
    /* background-color: #f9f9f9; */
    /* border: 1px solid #ddd;  */
    border-radius: 5px; /* Rounded corners */
}
